* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

canvas {
    position: fixed;
    inset: 0;
    z-index: -1;
}

.overlay {
    position: relative;
    z-index: 1;
    text-align: center;
    top: 40%;
}

.overlay h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.overlay p {
    opacity: 0.8;
    margin-bottom: 20px;
}
